<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2Flogo.png?v=1589916571135" >
    
        
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<h6 style="display:inline;">
  Welcome to the <h6 id="gradient" style="display:inline;">
  Docs
  </h6>
    </h6><h6 style="">
      Scroll to advance
      </h6><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div>
  <h1>
    &lt;!-- comment_text --&gt;
  </h1>
  <hr>
  <h2>
    Creates a HTML Comment, which may contain any code or text, and shall not be ran. (comment_text being the comment text you want)
    <br><br><br>
    No example :(
  </h2>
    </div>
                <br><br><br><br><br><br><br><br>
        <div>
  <h1>
    &lt;!DOCTYPE&gt;
  </h1>
  <hr>
  <h2>
    Declaration for what version of HTML you are using.
    <br><br><br>
    No example :(
  </h2>
    </div>
                    <br><br><br><br><br><br><br><br>
        <div>
  <h1>
    &lt;a&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a hyperlink, however you must set the href property to the url you want.
    <br>
  </h2>
<div style="width:70%; background:gray; height:240px; position:absolute; left:15%; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes a hyperlink, (a link which leads to another website if you add href="x", x being url you want.) which leads to the home page of the learn-code app.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;a href="https://learn-code.glitch.me/"&gt;Click me! I am a hyperlink!&lt;/a&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<a href=&quot;https://learn-code.glitch.me/&quot;>Click me! I am a hyperlink!</a>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div>
  <h1>
    &lt;abbr&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a abbreviation, with bottom-dotted-text. 
    <br>
    You can combine it with a title attribute for easier to-do HTML.
  
  </h2>
<div style="width:70%; background:gray; height:240px; position:absolute; left:70px; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes an abbreviation, something that has underlined text. Hover over it to see the title attribute in action.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;abbr title="Important text"&gt;This text will be dotted&lt;/abbr&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<abbr title=&quot;Important text&quot;>This text will be dotted</abbr>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
        <div>
  <h1>
    &lt;address&gt;
  </h1>
  <hr>
  <h2>
    HTML used for contact information
    <br><br>
    It is italic.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;area&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a clickable area on usually an html map element
    <br><br>
    You can combine it with a title attribute for easier to-do HTML.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;article&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating seperated info.
    <br><br>
    Great for forums, chat messages, etc.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div>
  <h1>
    &lt;audio&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating audio.
    <br><br>
    Used when making audio for your site.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
        <div>
  <h1>
    &lt;b&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating bold text.
    <br><br>
    Bold text is typically found first in documents. (it might become deprecated)
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;base&gt;
  </h1>
  <hr>
  <h2>
    The default "starter" for anchors/hyperlinks.
    <br><br>
    When in the &lt;head&gt; element and has a href attribute, it will automatically apply the attribute value to the beginning of every &lt;a&gt; element!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;basefont&gt;
  </h1>
  <hr>
  <h2>
    The basefont element is deprecated yet usuable. It acts like the &lt;base&gt; element, except that it's used for font-size, color, or font-family instead of a "link starter."
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;bdo&gt;
  </h1>
  <hr>
  <h2>
    HTML for changing the text direction.
    <br><br>
    With this, you can use the attribute "dir!" Then, change the value to rtl! Then, the text will go right to left!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;big&gt;
  </h1>
  <hr>
  <h2>
    Deprecated HTML used for making bigger text.
    <br><br>
    You should use CSS instead.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;blockquote&gt;
  </h1>
  <hr>
  <h2>
    HTML for writing text that was from another source.
    <br><br>
    You can also say the cite attribute!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;body&gt;
  </h1>
  <hr>
  <h2>
    HTML used to create the front-end of your site
    <br><br>
    It is required in HTML.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;br /&gt;
  </h1>
  <hr>
  <h2>
    HTML used as line breaks, or just plain margin
    <br><br>
    You can use this to make a broken line in HTML
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;button&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a simple button
    <br><br>
    One of the most common used html elements.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;canvas&gt;
  </h1>
  <hr>
  <h2>
    Used for creating HTML5 games and other things.
    <br><br>
    You can use it for creating many games only using JavaScript and one html tag!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;center&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating center-aligned items
    <br><br>
    Deprecated, yet used on Learn Code
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;details&gt;
  </h1>
  <hr>
  <h2>
    HTML for open and closing things by clicking
    <br><br>
    It's controlled by the attribute "open" or "closed"
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;dialog&gt;
  </h1>
  <hr>
  <h2>
    HTML for open and closing things by clicking
    <br><br>
    Pretty much the same thing, same attribute, etc.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;div&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating divided text. You could add backgrounds and border radiuses to make it into a drawing.
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;em&gt;
  </h1>
  <hr>
  <h2>
    HTML used for creating italic text.
    <br><br>
    Combined with anything will work.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;embed&gt;
  </h1>
  <hr>
  <h2>
    Using this you can embed videos, sites, and even flash games!
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;font&gt;
  </h1>
  <hr>
  <h2>
    The font tag was used to define text color, font, and more.
    <br><br>
    You can still use this, but you are better off using CSS.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;form&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a form
    <br><br>
    Combine with attributes to create the ultimate form!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h1&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the largest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h2&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the second to largest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h3&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating some "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h4&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating one of the smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h5&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the second to smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h6&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
    
    
    <!--
<div style="width:70%; background:gray; height:240px; position:absolute; left:15%; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes an abbreviation, something that has underlined text. Hover over it to see the title attribute in action.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;abbr title="Important text"&gt;This text will be dotted&lt;/abbr&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<abbr title=&quot;Important text&quot;>This text will be dotted</abbr>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>

or 

        <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
-->
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>

